<form id="app-nav-groceryItem">
  <input type="text" name="title" placeholder="Name of Item">
  <input type="text" name="price" placeholder="Price of Item">
  <input type="submit" value="Add">
</form>
